body{
display: flex;
height: 100vh;
background-color: bisque;
align-items: center;
justify-content: center;
}

.hesapmakinesi {
    background-color: rgb(245, 240, 236);
    padding: 20px;
    border-radius: 10px;
}

.anasayfa {
width: 230px;
height: 30px;
background-color: rgb(255, 255, 255);
text-align: end;
font-size: 30px;
padding: 4px;

 }

.tuslar {
width: 240px;
display: flex;
flex-wrap: wrap;

}

button {
font-size: 40px;
color: black;
background-color: azure;
border: none;
width: 50px;
height: 50px;
margin: 5px;
}

#sonuc {
background-color: rgb(124, 124, 128);

}

button:hover {
    background-color: blue;
}

button:active {

    background-color: red;
}

#temizle {
    width: 100%;
    font-size: 30px;
    background-color: azure;
}